<div class="user-management-container">
    <app-reusable-crud [config]="config" [isLoading]="loading" [rowActionsTemplate]="rowActions" [showSearch]="true"
        [searchTerm]="searchTerm"  (edit)="onEdit($event)" (delete)="onDelete($event)"
        (refresh)="onRefresh()" (pageChange)="onPageChange($event)" (add)="onAdd()" (sortChange)="onSortChange($event) ">

        <ng-template #rowActions let-item>
            <button mat-icon-button class="config" (click)="onConfig(item)">
                <mat-icon color="warn">build</mat-icon>
            </button>
            <button mat-icon-button class="edit" (click)="onEdit(item); $event.stopPropagation()">
                <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button class="delete" (click)="onDelete(item); $event.stopPropagation()">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </ng-template>
    </app-reusable-crud>
</div>