<app-reusable-crud [config]="servicesConfig" [isLoading]="loading" [rowActionsTemplate]="rowActions" 


    (edit)="onEdit($event)" (delete)="onDelete($event)" (refresh)="onRefresh()" (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
    <ng-template #rowActions let-item>
        <button mat-icon-button (click)="onEdit(item)" matTooltip="Edit" color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(item)" matTooltip="Delete" color="warn">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>
</app-reusable-crud>