<app-reusable-crud [config]="servicesConfig" [isLoading]="loading" [rowActionsTemplate]="rowActions" 
    (edit)="onEdit($event)" (delete)="onDelete($event)" (refresh)="onRefresh()" (pageChange)="onPageChange($event) "
    (sortChange)="onSortChange($event)">
    <ng-template #rowActions let-item>
        <button mat-icon-button class="edit" >
            <mat-icon mat-icon-button color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button class="delete" >
            <mat-icon mat-icon-button color="warn">delete</mat-icon>
        </button>
    </ng-template>
</app-reusable-crud>