<div class="delete-dialog">
    <div class="dialog-header">
        <h2 class="dialog-title">
            <i class="bi bi-exclamation-triangle"></i> Confirm Deletion
        </h2>
    </div>

    <div class="dialog-content">
        <p>Are you sure you want to delete this user?</p>
        <p class="warning-text">This action cannot be undone.</p>
    </div>
    <div class="dialog-actions">
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close class="btn btn-cancel">Cancel</button>
            <button mat-raised-button color="warn" [mat-dialog-close]="true" class="btn btn-delete">Delete</button>
        </mat-dialog-actions>
    </div>
</div>