.add {
  color: green;
  border: none;
  background: none;
  justify-content: end;
}

.refresh {
  color: green;
  border: none;
  background: none;
}

.crud-container {
  width: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  
  .search-and-actions {
    display: flex;
    align-items: center;
    gap: 16px;
    
    .search-field {
      width: 300px;
      margin-right: 16px;
    }
    
    .actions {
      display: flex;
      gap: 8px;
    }
  }
}