<div *ngIf="loading" class="loading-spinner">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="container">
     <!-- Tab buttons -->
    <div class="service-tabs">
        <button mat-raised-button *ngFor="let service of services"
            [class.active]="activeServiceId === service.serviceId" (click)="setActiveService(service.serviceId ?? 0)">
            {{getServiceName(service.serviceId ??0)}}
        </button>
    </div>

    <!-- Content area -->
    <div class="service-content">
        <ng-container [ngSwitch]="activeServiceId">
            <ng-container *ngSwitchCase="1">
                <app-electricity [tenantId]="tenantId" [selectedUser]="selectedUser" *ngIf="activeServiceId === 1">
                </app-electricity>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <app-water [tenantId]="tenantId" [selectedUser]="selectedUser" *ngIf="activeServiceId === 2">
                </app-water>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <app-internet [tenantId]="tenantId" [selectedUser]="selectedUser" *ngIf="activeServiceId === 3">
                </app-internet>
            </ng-container>

        </ng-container>
    </div>
    </div>

    <mat-dialog-actions align="end" class="end-actions">
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>