<h2 mat-dialog-title>Tenant Services</h2>
<mat-dialog-content class="mat-typography">
    <div *ngFor="let service of services" class="service-container">
        <!-- Fixed ngSwitch structure -->
        <ng-container [ngSwitch]="service.serviceId">
            <!-- <app-electricity *ngSwitchCase="1" [tenantId]="tenantId"></app-electricity>
            <app-water *ngSwitchCase="2" [tenantId]="tenantId"></app-water>
            <app-internet *ngSwitchCase="3" [tenantId]="tenantId"></app-internet> -->
            <div *ngSwitchDefault>Unknown service type (ID: {{service.serviceId}})</div>
        </ng-container>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>